body {
    background-image: url(barbacoa.jpg);
}

h1 {
    color: white;
    background-color: black;;
}

h2 {
    font-style: bold;
    color: blue;
}

img {
    width: 500px;
    border-style: solid;
}

p.paragraph {
    font-size: 40px;
    background-color: white;
}